// Hero
.hero {
  height: 100vh;
  margin-top: -7rem;
  z-index: 1;
  background-image: url(../imgs/ruben.jpg);
  background-size: cover;
  // background-color: #cccccc;
  background-position: top;
  background-repeat: no-repeat;
  display: flex;
  align-items: start;
  justify-content: start;
  background-attachment: fixed;
}
