// Hero
.hero {
  height: 85vh;
  z-index: 1;
  background-image: url(https://res.cloudinary.com/dfsqn3oi6/image/upload/v1643921044/staytonEngineering/heroBg1920_fgymvw.jpg);
  background-size: cover;
  // background-color: #cccccc;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;
  background-attachment: fixed;
  // transform: scale(-1, 1);
}

@media (max-width: 1100px) {
  .hero {
    background-attachment: scroll;
    background-image: url(https://res.cloudinary.com/dfsqn3oi6/image/upload/v1643921044/staytonEngineering/heroBg1000_oirwcu.jpg);
  }
}
