// Hero
.hero {
  height: 85vh;
  // margin-top: -7rem;
  z-index: 1;
  background-image: url(../imgs/wolfgang-hasselmann-Qcmhw3yAvj4-unsplash.jpg);
  background-size: cover;
  // background-color: #cccccc;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;
  background-attachment: fixed;
  // transform: scale(-1, 1);
}
