.hero-header {
  color: white;
  width: 75%;
  height: 55%;
  // display: flex;
  // flex-direction: column;

  h2 {
    font-size: 7rem;
    margin-bottom: 1rem;
    text-shadow: 3px 3px black;
  }

  h1 {
    font-size: 7rem;
    margin-bottom: 3rem;
    text-shadow: 3px 3px black;
  }

  p {
    font-size: 2.2rem;
    width: 65%;
    text-shadow: 1px 1px black;
  }
}

.learn-more {
  border: none;
  border-radius: 3px;
  margin-top: 4rem;
  padding: 1rem;
  font-size: 1.5rem;
  text-transform: uppercase;
  cursor: pointer;

  &:hover {
    transform: translateY(-3px);
    box-shadow: 0 1rem 2rem black;
  }

  &:active {
    transform: translateY(0.5px);
    box-shadow: 0 1rem 2rem black;
  }
}

@media (max-width: 1400px) {
  .hero-header {
    p {
      font-size: 2.2rem;
      width: 85%;
      text-shadow: 1px 1px black;
    }
  }
}
