.industries {
  margin: 20rem 0;

  &-list {
    background-color: rgb(238, 238, 238);
    padding: 3rem 5rem 0 5rem;
  }

  p {
    font-size: 3rem;
    text-align: start;
    margin: 2rem;
    width: 22rem;
    color: rgb(22, 22, 85);
  }

  &-header {
    color: var(--clr-secondary-1);
    margin-top: 5rem;
    margin-bottom: 10rem;
    text-align: center;
    font-size: 2rem;
  }

  &-list-1 {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-bottom: 13rem;
  }

  &-list-2 {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-bottom: 13rem;
  }
  &-list-3 {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-bottom: 13rem;
  }
}
